.barber_icon {
    width: 16px;
    height: 16px;
    border: none;
}
.barber_star_unfilled {
    background-repeat: no-repeat;
    float: left;
}
.barber_star_filled {
    background-repeat: no-repeat;
    float: left;
}
.barber_mute_expand {
    background-repeat: no-repeat;
    float: right;
}
.barber_mute_collapse {
    background-repeat: no-repeat;
    float: right;
}
